# Anchor
.anchor
docker-target
target
test-ledger
**/*.rs.bk

# Node.js
.npm
.pnp.*
bun.lockb
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

#Trident
trident-tests/.fuzz-artifacts

# Misc
repomix
*.env
*.local.json
.DS_Store
*.fuzz-artifacts